@import url("https://framework.marbust.com/marbust-framework.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Tajawal:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  min-width: 300px;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Tajawal", sans-serif;
  background: #E5E5E5;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: "Fira Sans Condensed", sans-serif;
}

header {
  background: #14213D;
  color: #E5E5E5;
  padding: 5px 10%;
  transition: 0.3s all;
  height: 70px;
  max-height: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  header {
    padding: 5px 3%;
  }
}
header h1 {
  width: 100%;
  font-size: 50px;
}
@media (max-width: 700px) {
  header h1 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 30px;
  }
}
header h1 a {
  color: white;
  transition: 0.3s;
}
header h1 a:hover {
  color: #FCA311;
}

main {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/banner.jpg);
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
main .notes-ctnr {
  width: 100%;
}
main .notes-ctnr p {
  line-height: 1.7em;
  font-size: 18px;
}
main .notes-ctnr p a {
  color: #14213D;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
main .notes-ctnr p a:hover {
  color: #FCA311;
}
main .notes-ctnr .code-example {
  display: block;
  margin: 15px auto;
  width: 75%;
  max-width: 674px;
  pointer-events: none;
  border-radius: 10px;
  border: 3px solid #14213D;
}
main .notes-ctnr ul li {
  font-size: 18px;
  padding-left: 25px;
  line-height: 1.5em;
}
main .notes-ctnr .code-ctnr {
  background: #1f1e1e;
  border-radius: 7px;
  color: #f3bd66;
  margin: 15px 0px;
  padding: 10px;
  font-size: 18px;
}
main .notes-ctnr .code-ctnr code {
  width: 100%;
  line-height: 2em;
}
main .notes-ctnr .code-ctnr code strong {
  color: #a4f3b1;
}
main .notes-ctnr .code-ctnr code .attrib1 {
  color: #f1f366;
}
main .notes-ctnr .code-ctnr code .attrib2 {
  color: #e8aef3;
}
main .notes-ctnr .code-ctnr code .attrib3 {
  color: white;
}
main .chuck-norris {
  text-align: center;
}
main .chuck-norris .btns-ctnr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .chuck-norris .btns-ctnr button {
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 5px;
  padding: 15px 10px;
  border: 0px;
  font-weight: bold;
  transition: 0.3s;
}
main .chuck-norris .btns-ctnr button:hover {
  cursor: pointer;
}
main .chuck-norris .btns-ctnr button:nth-child(1) {
  background: #14213D;
  color: #E5E5E5;
}
main .chuck-norris .btns-ctnr button:nth-child(1):hover {
  background: #FCA311;
  color: #000000;
}
main .chuck-norris .btns-ctnr button:nth-child(2) {
  background: #FCA311;
  color: #000000;
}
main .chuck-norris .btns-ctnr button:nth-child(2):hover {
  background: #14213D;
  color: #E5E5E5;
}
main .content-table {
  width: 50%;
}
@media (max-width: 900px) {
  main .content-table {
    width: 100%;
  }
}
main .content-table h2 {
  font-size: 40px;
}
main ol {
  padding-left: 35px;
  font-size: 30px;
}
main ol li {
  padding: 10px 0px;
}
main ol li a {
  text-decoration: none;
  color: #14213D;
  transition: 0.3s;
}
main ol li a:hover {
  background: #FCA311;
  color: black;
}

.img-ctnr {
  width: 50%;
}
@media (max-width: 900px) {
  .img-ctnr {
    width: 70%;
  }
}
.img-ctnr img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

footer {
  padding: 30px 10%;
  text-align: center;
  background: #FCA311;
  color: #14213D;
  font-size: 18px;
}

.code-example-practice {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  border: 3px solid #14213D;
  transition: 0.3s;
}
.code-example-practice img {
  width: 100px;
  display: block;
  transition: 0.3s;
}

.e1 {
  cursor: move;
}
.e1:hover img {
  transform: translate(45px, -45px);
}

.e2 {
  cursor: move;
}
.e2:hover img {
  transform: scale(1.5, 0.25);
}

.e3 {
  cursor: move;
}
.e3:hover img {
  transform: rotate(90deg);
}

.e4 {
  cursor: move;
}
.e4:hover img {
  transform: skew(15deg, 4deg);
}

.e5 {
  cursor: move;
}
.e5:hover img {
  transform: rotate(45deg);
  transform-origin: 20% 40%;
}

.e6 {
  cursor: move;
}
.e6:hover img {
  position: relative;
  top: 10px;
  left: 10px;
}

.e7 {
  cursor: move;
}
.e7:hover img {
  transition: transform 1s ease-out 50ms;
  transform: scale(1.05);
}

.e8 {
  cursor: move;
}
.e8 img {
  transition-property: transform, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 50ms;
}
.e8:hover img {
  transform: scale(1.05);
}

.e9 {
  cursor: move;
}
.e9 img {
  animation: appearDisappear linear infinite 1s;
}
@keyframes appearDisappear {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}
.e10 {
  cursor: move;
}
.e10 img {
  animation: 300ms ease-in alternate 1s backwards shorthand infinite;
}
@keyframes shorthand {
  0%, 100% {
    transform: scale(1);
  }
  20%, 80% {
    transform: scale(1.05);
  }
}
.code-example-chap12 button {
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 5px;
  padding: 15px 10px;
  border: 0px;
  font-weight: bold;
  transition: 0.3s;
  background: #14213D;
  color: #E5E5E5;
}
.code-example-chap12 button:hover {
  background: #FCA311;
  color: #000000;
  cursor: pointer;
}
.code-example-chap12 canvas {
  border: dotted 2px black;
  width: 100%;
  min-height: 50vh;
}

.week9 button {
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 5px;
  padding: 15px 10px;
  border: 0px;
  font-weight: bold;
  transition: 0.3s;
  background: #14213D;
  color: #E5E5E5;
}
.week9 button:hover {
  background: #FCA311;
  color: #000000;
  cursor: pointer;
}
.week9 #square {
  margin: 50px;
  width: 100px;
  height: 100px;
  background: #d16;
}
.week9 input {
  padding: 5px;
}
.week9 canvas {
  width: 100%;
  height: 100%;
  border: 2px solid #14213D;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
