.code-example-practice {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    border: 3px solid $color1;
    transition: 0.3s;

    img {
        width: 100px;
        display: block;
        transition: 0.3s;
    }
}

.e1 {
    cursor: move;

    &:hover {
        img {
            transform: translate(45px, -45px);
        }
    }
}

.e2 {
    cursor: move;

    &:hover {
        img {
            transform: scale(1.5, 0.25);

        }
    }
}

.e3 {
    cursor: move;

    &:hover {
        img {
            transform: rotate(90deg);
        }
    }
}

.e4 {
    cursor: move;

    &:hover {
        img {
            transform: skew(15deg, 4deg);
        }
    }
}

.e5 {
    cursor: move;

    &:hover {
        img {
            transform: rotate(45deg);
            transform-origin: 20% 40%;
        }
    }
}

.e6 {
    cursor: move;

    &:hover {
        img {
            position: relative;
            top: 10px;
            left: 10px;
        }
    }
}

.e7 {
    cursor: move;

    &:hover {
        img {
            transition: transform 1s ease-out 50ms;
            transform: scale(1.05);
        }
    }
}

.e8 {
    cursor: move;

    img {
        transition-property: transform, color;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        transition-delay: 50ms;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}

.e9 {
    cursor: move;

    img {
        animation: appearDisappear linear infinite 1s;
    }

    &:hover {
        img {
            // transform: scale(1.05);
        }
    }
}

@keyframes appearDisappear {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}

.e10 {
    cursor: move;

    img {
        animation: 300ms ease-in alternate 1s backwards shorthand infinite;
    }

    &:hover {
        img {
            // transform: scale(1.05);
        }
    }
}

@keyframes shorthand {

    0%,
    100% {
        transform: scale(1);
    }

    20%,
    80% {
        transform: scale(1.05);
    }
}

.code-example-chap12 {
    button {
        display: block;
        max-width: 200px;
        width: 100%;
        margin: 5px;
        padding: 15px 10px;
        border: 0px;
        font-weight: bold;
        transition: 0.3s;
        background: $color1;
        color: $color3;

        &:hover {
            background: $color2;
            color: $color4;
            cursor: pointer;
        }
    }

    canvas {
        border: dotted 2px black;
        width: 100%;
        min-height: 50vh;
    }

}